extends layout
block content
    //中间内容
    div#indexCont.w-container.clearFix
        div.contLeft
            ul.newList.clearFix
                each value, index in data
                    li
                        a(href='/article?_id='+ value._id)
                            h3=value.title
                            div.del
                                | 作者：
                                span=value.author
                                | 时间：
                                span=value.relTimes
                                | 浏览量：
                                span=value.getNum
                            p.des
                                | 导读：
                                span=value.describe

            ul.newList.clearFix
                li
                    a(href='#')
                        h3 再谈Vue2组件库开发
                        div.del
                            | 作者：
                            span 技术达人技术达人
                            | 时间：
                            span 2018-7-2
                            | 浏览量：
                            span 1000
                        p.des
                            | 导读：
                            span.
                                本文是 Vue 2.0 组件库开发系列文章第二篇。继第一篇《漫谈Vue 2组件库》后，再来聊一聊基于
                                webpack 脚手架开发一个 Vue 2.0 移动端 UI 组件库的经验与思考。 前文再续，书接上回。话说 Vue
                                组件库开发那些事儿。 我们的 Vue组件库开发经验主要来自于 NutUI 组件库的开发实践，这是我们从...
                li
                    a(href='#')
                        h3 再谈Vue2组件库开发
                        div.del
                            | 作者：
                            span 技术达人技术达人
                            | 时间：
                            span 2018-7-2
                            | 浏览量：
                            span 1000
                        p.des
                            | 导读：
                            span.
                                本文是 Vue 2.0 组件库开发系列文章第二篇。继第一篇《漫谈Vue 2组件库》后，再来聊一聊基于
                                webpack 脚手架开发一个 Vue 2.0 移动端 UI 组件库的经验与思考。 前文再续，书接上回。话说 Vue
                                组件库开发那些事儿。 我们的 Vue组件库开发经验主要来自于 NutUI 组件库的开发实践，这是我们从...
            div.page

        div.contRight
            div.rightBox
                p.tit 社区
                p.msg QQ号：
                    a(href='#') 1468017149
                a(href='#' class='wd') 问答社区
            div.rightBox
                p.tit 标签云
                div.tag.
                    <a href='#'>WEB前端</a><a href='#'>HTML5</a><a href='#'>VUE.JS</a><a href='#'>WEB前端</a><a href='#'>HTML5</a><a href='#'>VUE.JS</a>
            div.rightBox
                p.tit 排行榜
                ul.hot
                    li
                        a(href='#') Node.js v4 LTS 成为 Ghost 推荐版本
                            span (50)
                    li
                        a(href='#') Node.js v4 LTS 成为 Ghost 推荐版本
                            span (50)
                    li
                        a(href='#') Node.js v4 LTS 成为 Ghost 推荐版本
                            span (50)
    div.footer.
        Copyright © Ghost中文网 | 京ICP备11008151号 | 京公网安备11010802014853

block content

